@import url(./root.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none !important;
  text-decoration: none !important;
}
.bg_line {
  background-image: url("/assets/images/webp/vertical&horizontal.webp");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}
.bg_grey {
  background-image: url("/assets/images/webp/grey-bg.webp");
  /* background-position: center; */
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg_white {
  background-image: url("../images/webp/bg_white.webp");
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.mw_156 {
  max-width: 156px;
}

.button {
  border-radius: 90px;
  background: var(--White, #fff);
  padding: 12px 32px;
  border: 1px solid #fff;
  transition: 0.3s linear;
}
.button:hover {
  background-color: transparent;
  border: 1px solid white;
  color: white !important;
}
.get_started {
  border-radius: 90px;
  background-color: transparent;
  padding: 12px 32px;
  border: 1px solid #fff;
  transition: 0.3s linear;
}
.get_started:hover {
  background: var(--White, #fff);
  border: 1px solid white;
}
.get_started:hover a {
  color: var(--text-black) !important;
  -webkit-text-stroke: 0.7px var(--text-black);
}
.get_started:hover span svg path {
  fill: var(--text-black);
}
.common_btn {
  background: transparent;
  padding: 13px 33px;
  border-radius: 90px;
  border: 1px solid var(--White, #fff);
  transition: 0.3s linear;
}
.common_btn:hover {
  background-color: white;
  /* border: 1px solid white; */
  color: var(--text-black) !important;
  -webkit-text-stroke: 0.7px var(--text-black);
}
.view_btn {
  background: transparent;
  padding: 13px 33px;
  border-radius: 90px;
  border: 1px solid var(--bg-black);
  transition: 0.3s linear;
}
.view_btn:hover {
  background: var(--bg-black);
  color: white !important;
  border: 1px solid var(--bg-black);
}
.z_index_3 {
  z-index: 3 !important;
}
.lh_108 {
  line-height: 108.687%;
}
.lh-150 {
  line-height: 150%;
}
.pb-40 {
  padding-bottom: 40px;
}
.pt_100 {
  padding-top: 100px;
}
.black_card {
  background: transparent;
  border-radius: 12px;
  border: 1px solid transparent;
  position: relative;
  z-index: 2;
  transition: 0.2s linear;
}

.wh_hov:hover .black_card {
  border-radius: 12px !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  background: rgba(255, 255, 255, 0.1) !important;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15) !important;
  backdrop-filter: blur(8px) !important;
  /* z-index: 2 !important; */
}

.wh_hov:hover .circle_wh {
  opacity: 1;
}
.opacity-7 {
  opacity: 0.7;
}
.circle_wh {
  position: absolute;
  width: 73px;
  right: -10% !important;
  top: -13%;
  height: 74px;
  border-radius: 50%;
  background: var(--White, #fff);
  box-shadow: 0 4px 16px 0 hsla(0, 0%, 100%, 0.1);
  opacity: 0;
  transition: 0.3s linear;
}
.nav-line::after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  height: 2px;
  background-color: white;
  bottom: 0;
}
.nav-line:hover::after {
  width: 100%;
  transition: all 300ms linear;
}
.white_line::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: rotate(-3.484deg);
  left: 16%;
  top: -11%;
  height: 1px;
  background-color: #fff;
}
.whiteline_bottom::before {
  content: "";
  position: absolute;
  transform: rotate(-5.484deg);
  width: 100%;
  left: -4%;
  top: 98%;
  height: 1px;
  background-color: #fff;
}
.bottom_10 {
  bottom: 10%;
}
.borderradius_12 {
  border-radius: 12px;
}
.lh_121 {
  line-height: 121.5%;
}
.lh_180 {
  line-height: 180%;
}
.lh_150 {
  line-height: 150%;
}
.project_card {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px -1px 20px 0px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  padding: 16px;
}
.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}
.img_blur::after {
  content: "The Tokyo  Tem";
  position: absolute;
  font-size: var(--fs-md);
  font-weight: var(--fw-700);
  line-height: 108.687%;
  color: #fff;
  font-family: "Sunflower", sans-serif;
  display: none;
  align-items: center;
  justify-content: center;
  left: 12px;
  right: 12px;
  bottom: 0;
  height: 47px;
  border-radius: 0px 0px 8px 8px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px -1px 11px 0px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4.5px);
}
.img_blur:hover::after {
  display: flex;
}
.img_blur:hover {
  transform: scale(1.2);
  z-index: 1 !important;
}
.mw_255 {
  max-width: 255px;
}
.pb_69 {
  padding-bottom: 69px;
}
.mb_24 {
  margin-bottom: 24px;
}
.pt-100 {
  padding-top: 100px;
}
.pb-100 {
  padding-bottom: 100px;
}
.z_index_4 {
  z-index: 4;
}
.circle_blur {
  position: absolute;
  width: 184px;
  height: 184px;
  /* flex-shrink: 0; */
  background-color: #fff;
  filter: blur(124px);
  z-index: 1;
}
.circle_blur1 {
  position: absolute;
  width: 182px;
  right: 0;
  bottom: -16%;
  height: 182px;
  background-color: #fff;
  filter: blur(124px);
  z-index: 1;
}
.circle_blur2 {
  position: absolute;
  width: 209px;
  bottom: -25%;
  height: 209px;
  z-index: 1;
  background-color: #fff;
  filter: blur(124px);
}
.circle_blur3 {
  position: absolute;
  width: 226px;
  right: 0;
  height: 226px;
  background-color: #fff;
  filter: blur(124px);
  top: -9%;
}
.footer_link {
  transition: 0.3s linear;
}
.footer_link:hover {
  transform: translateY(-5px) !important;
}
.animation {
  animation: swing 2s linear infinite;
}
.pt_140 {
  padding-top: 140px !important;
}
@keyframes swing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.duration_300 {
  transition: 300ms linear;
}
.pointer_event_none {
  pointer-events: none;
}
@media (max-width: 992px) {
  .mobile_view {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    transition: 300ms linear;
  }

  .overflow_hidden {
    overflow: hidden;
  }

  .line1,
  .line2,
  .line3 {
    width: 30px;
    min-height: 3px;
    background-color: white;
    transition: 300ms linear;
  }

  .cross .line1 {
    transform: rotate(50deg) translate(17px, 14px);
  }

  .cross .line2 {
    transform: translateX(-50%);
    opacity: 0;
  }

  .cross .line3 {
    transform: rotate(-50deg) translateY(-50%);
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .circle_wh {
    right: -6% !important;
    top: -4% !important;
  }
}
@media (min-width: 992px) {
  .mw_570 {
    max-width: 570px;
  }
  .pt_173 {
    padding-top: 173px !important;
  }
  .pt_78 {
    padding-top: 78px !important;
  }
  .min_vh_100 {
    min-height: 100vh;
  }
  .whiteline_bottom1::before {
    content: "";
    position: absolute;
    transform: rotate(-2.484deg);
    width: 345px;
    left: 33%;
    bottom: 27%;
    height: 1px;
    background-color: #fff;
  }
  .whiteline_bottom2::before {
    content: "";
    position: absolute;
    transform: rotate(-3.484deg);
    width: 345px;
    left: 31%;
    bottom: 0;
    height: 1px;
    background-color: #fff;
  }
  .blackline_bottom1::before {
    content: "";
    position: absolute;
    transform: rotate(-2.484deg);
    width: 345px;
    left: 32%;
    bottom: 0;
    height: 1px;
    background-color: var(--bg-black);
  }
  .white_line1::after {
    content: "";
    position: absolute;
    transform: rotate(-2.484deg);
    width: 345px;
    top: 20%;
    height: 1px;
    left: 41%;
    background-color: #fff;
  }
  .white_line2::after {
    content: "";
    position: absolute;
    transform: rotate(-3.484deg);
    width: 345px;
    top: 20%;
    height: 1px;
    left: 41%;
    background-color: #fff;
  }
  .black_line1::after {
    content: "";
    position: absolute;
    transform: rotate(-2.484deg);
    width: 345px;
    top: 20%;
    height: 1px;
    left: 41%;
    background-color: var(--bg-black);
  }
  .mw_224 {
    max-width: 224px;
  }
  .mw_532 {
    max-width: 532px;
  }
  .circle_wh {
    right: -10% !important;
    top: -13% !important;
  }
  .bg_white {
    background-position: unset;
  }
  .pb_100 {
    padding-bottom: 100px;
  }
}
@media (min-width: 1440px) {
  .h_686 {
    height: 686px;
  }
}
